[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/bhcleek/nerdtree.git
[submodule "vimfiles/bundle/solarized"]
	path = vimfiles/bundle/solarized
	url = git://github.com/bhcleek/vim-colors-solarized.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = git://github.com/bhcleek/vim-surround.git
[submodule "vimfiles/bundle/pathogen"]
	path = vimfiles/bundle/pathogen
	url = git://github.com/bhcleek/vim-pathogen.git
[submodule "vimfiles/bundle/coffee-script"]
	path = vimfiles/bundle/coffee-script
	url = git://github.com/bhcleek/vim-coffee-script.git
[submodule "vimfiles/bundle/jade"]
	path = vimfiles/bundle/jade
	url = git://github.com/bhcleek/vim-jade.git
[submodule "vimfiles/bundle/golang"]
	path = vimfiles/bundle/golang
	url = git://github.com/bhcleek/vim-golang.git
